div.grid-row
    .grid-1-6.slot-taken
      p May 2012
      p
        strong Google
    .grid-1-6.slot-taken
      p Jun 2012
      p
        strong Microsoft
    .grid-1-6.slot-taken
      p Jul 2012
      p
        strong GUG.cz
    .grid-1-6.slot-taken
      p Aug 2012
      p
        strong GUG.cz
    .grid-1-6.slot-taken
      p Sep 2012
      p
        strong GoodData
    .grid-1-6.slot-open
      p Oct 2012
      p
        strong free
  .grid-row
    .grid-1-6.slot-open
      p Nov 2012
      p
        strong free
    .grid-1-6.slot-open
      p Dec 2012
      p
        strong free
    .grid-1-6.slot-open
      p Jan 2013
      p
        strong free
    .grid-1-6.slot-open
      p Feb 2013
      p
        strong free
    .grid-1-6.slot-open
      p Mar 2013
      p
        strong free
    .grid-1-6.slot-open
      p Apr 2013
      p
        strong free
