section(role="main")
  .next-meetup
    - var nextDate = (events[0] && events[0].date) ? events[0].date : "(couldn't retrieve calendar data)"
    h1 Upcoming Meetup: !{nextDate}
    | Everybody is welcome, please join us! Talks start at 18:00.

  .talk-slots.grid-row
    - if (events[0] && events[0].talk1)
      - var talk = events[0].talk1
      include includes/index/slot-taken
    - else
      include includes/index/slot-open

    - if (events[0] && events[0].talk2)
      - var talk = events[0].talk2
      include includes/index/slot-taken
    - else
      include includes/index/slot-open

    article(class="grid-1-3 slot-beerjs")
      h1 beer.js
      p After the talks, stick around, come grab a drink with us and chat.
      p
        | <br/><br/><br/><br/><br/><strong>Andělka</strong><br/>
        | <a href="https://maps.google.com/maps?q=Radlick%C3%A1+112%2F22,+150+00+Praha+5&hl=en&ie=UTF8&sll=37.0625,-95.677068&sspn=54.093296,114.169922&t=h&hnear=Radlick%C3%A1+112%2F22,+150+00+Praha,+Czech+Republic&z=16">Radlická 112/22, 150 00 Praha 5</a><br />
        | z Node5 směrem zpět na Anděl asi 200m

aside.grid-row(role="complementary")
  .grid-1-3
    h3 Venue
    p
      | <strong>Node5</strong>,
      | <a href="http://maps.google.com/maps?q=Radlická+50,+Sm%C3%ADchov,+Praha-Praha+5,+Česká+republika&hl=en&ie=UTF8&sll=50.066481,14.40271&sspn=0.011914,0.027874&oq=radlicka+50&hnear=Radlická+180%2F50,+150+00+Praha+5-Sm%C3%ADchov,+Czech+Republic&t=m&z=16">Radlická 50, Praha 5 - Smíchov</a><br />
      | 350m z metra Anděl (linka B) - směr Na knížecí

  .grid-1-3
    h3 Got questions or talk proposals?
    p
      | JS Meetup is organized by <a href="https://twitter.com/abtris">Ladislav Prskavec</a> &amp;
      | <a href="https://twitter.com/steida">Daniel Steigerwald</a>.
    p
      | You can also join our <a href="https://www.facebook.com/groups/123334754348651/">group on facebook</a>.

  .grid-1-3
    h3 Wanna know more?
    p
      - if (events[1] && events[1].date && events[2] && events[2].date)
        | Our upcoming meetups will take place on <strong>!{events[1].date}</strong> and <strong>!{events[2].date}</strong>.
      |  Check out the information about <a href="/meetups">past meetups</a> and our list of <a href="/conferences">upcoming conferences</a> in Europe.
      |  To make sure, you don't miss out, subscribe to <a href="https://www.google.com/calendar/ical/6gg9b82umvrktnjsfvegq1tb24%40group.calendar.google.com/public/basic.ics">our calendar</a>!

h2 Meetup Partners
include includes/partners

aside.grid-row(role="complementary")
  .grid-1-3
    h3 Sponsors
    p We need sponsors to help us bring the best JavaScript speakers to Prague. We would also appreciate help producing videos from meetups and more.
  .grid-1-3
    h3 Partners
    p Partners pay for the space in Node5 (projector, ~30 people). In exchange they get a mention on this site and can place their banner on the stage.

aside.grid-row(role="complementary")
    p If you are interested in supporting the Czech JS Meetup as a sponsor or a partner contact <a href="mailto:ladislav@prskavec.net?subject=jsconfcz-sponsor">Ladislav Prskavec</a>.
